<html>
  <div style="text-align: center;">
  <a [routerLink]="['/home']" class="btn btn-link button-clear comp back">Home</a>
   <h4>How to Create a new Folder?</h4>
  <ol>
    <li>
      1)Enter The name of the folder you want to createin a text box next to "Folder Name"
    </li>
     <li>
      2)cick on "create"
    </li>
    <li>
(Note:-You cannot have two folders with the same name)    </li> 
    
  </ol>
  <h4>How to Upload a file?</h4>
  <ol>
    <li>
      1)select the folder in which you want to save your file from drop down menu
    </li>
     <li>
      2)click on the "browse" button to select a file you want to upload
    </li>
    <li>
2)click on "upload"" button    </li> 
    
  </ol>
  </div>
</html>