<html>
   <div style="text-align: center;">
  <a [routerLink]="['/home']" class="btn btn-link button-clear comp back">Home</a>
   <h1>
        <img src="assets/smartvault_banner.jpg" style="width: 728px; height: 90px" /></h1><
         <hr style="height: 6px; background-color: #000000;" /><br>
<form method="post" action="change.jsp">
<table border="0" align="center">
<tr>
  <td>current password :</td>
  <td><input type="password" name="oldpwd"></td>
</tr>
<tr>
  <td>new password :</td>
  <td><input type="password" name="newpwd"></td>
</tr>
<tr>
  <td>confirm password :</td>
  <td><input type="password" name="confpwd"></td>
</tr>
<tr>
  
</tr>
</table>

<input type="submit" value="OK">&nbsp;&nbsp;<input type="button" value="cancel" onclick="gohome()">

</form>
</div>
</html>