<html>
<div style="text-align: center;">
  <a [routerLink]="['/home']" class="btn btn-link button-clear comp back">Home</a>
<p>
  The Secure Drive is a part of MSC computer Science project on minimizing Insider datatheft in cloud storage through disinformation attacks.
  This Project work aims at Improving security from insider datatheft attacks in cloud storage through a diffrent approach.
  Identifying a possible masquerade attacker,Verifying his identity and launching a disinformation attack are three main objectives of this project
</p><br>
<strong>Designed and developed By:-</strong>
<br>
<strong>Paresh Vengurlekar & Pooja Kathkar</strong>

</div>
</html>