<nav class="navbar navbar-inverse">
  <div class="container-fluid">

  
    <div id="banner" class="banner" style="text-align: center;">
      <h1>
        <img src="assets/smartvault_banner.jpg" style="width: 50px;height: 10px" /></h1>
    </div>
    <table border="1" style="width: 100%;height:10%">

      <tr>
        <!--<td>Welcome {{currentUser.username}} &nbsp;&nbsp;| &nbsp;&nbsp;-->
          <td>Welcome Paresh21 &nbsp;&nbsp;| &nbsp;&nbsp;
          <a [routerLink]="['/login']" class="btn btn-link button-clear comp back">Logout</a>
        </td>
      </tr>
      <tr>
        <td>
          <a [routerLink]="['/change']">settings</a>&nbsp;&nbsp;| &nbsp;&nbsp;
            <a [routerLink]="['/faq']">FAQ</a>&nbsp;&nbsp; |&nbsp;&nbsp;
            <a [routerLink]="['/contact']">Contact Us</a>&nbsp;&nbsp;|
            <a [routerLink]="['/About']">About</a>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <hr style="height: 6px; background-color: #000000;" /><br>
    <!--<form name="home" method="post" action="databaseopServlet">-->
      Create New Folder<br> Folder Name :<input type="text" name="folder_ip" id="folder_ip" />&nbsp;
      <input type="submit" value="create" name="button" class="btn button-clear comp back" />&nbsp;
      
     <!--</form>-->

   <!--  <form name="home1" method="post" action="uploadServlet" enctype="multipart/form-data">-->

      <select id="ch_user1" class="ch_user1" name="combo1" [(ngmodel)]="selected">
          <option *ngFor="let book of myBooks" [(ngValue)]="book.BookName">{{book.BookName}}</option>
            <option id ="op" name="op" class="op" value="folder" *ngFor="let book of myBooks" [(ngValue)]="book.BookName">folder</option>
             <option id ="op" name="op" class="op" value="folder">OfficeDocs</option>
             <option id ="op" name="op" class="op" value="folder">MSC Pracs</option>
        </select>
      <input type="submit" value="open" name="btn" id="downbtt" onclick="return checkdd()" class="btn button-clear comp back" />
      <input type="file" name="file" id="file"class="button-clear comp back" (change)="selectFile($event)">
      <input type="submit" [disabled]="!selectedFiles" value="upload" name="button" click)="upload()" class="btn button-clear comp back" />

   <!--  </form>-->

  </div>
</nav>

<div class="container">

 
    
    <div class="row">



      <form method="post" action="downloadServlet">
        <div id="main">
          <table id="foldertable" border="1" style="width:100%;height: 441px">
            <tr>
              <td style="width: 161px;" valign="top">
                <h4>Folders :-</h4>

                <ul id="folder_list">

                  <li>Project</li>
                  <li>Personal</li>
                  <li>OfficeDocs</li>
                  <li>Photos</li>
                  <li>MSC Pracs</li>

                </ul>
              </td>
              <td valign="top">
                <h4>Files in MSC Pracs:-</h4>
                <div id="showfiles">


                  <ul>

                    <li>
                     <a href="changepwd.jsp"> Nomanclature.txt</a>
                    </li>
                    <li>
                      <a href="changepwd.jsp">formans_theory.jsp</a>
                    </li>

                  </ul>

                </div>
              </td>
            </tr>
            <tr>
              
            </tr>
            
          </table>
          
        </div>

       </form>
    </div>

</div>
